/* some minor additional styling in addition to Bootstrap */

.header {
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    padding: 15px;
}

.search-col {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.display-col {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.title {
    font-size: 24px;
    font-weight: bolder;
}

.card-header {
    justify-content: space-between;
}

.card-header h6 {
    display: inline;
    padding-right: 100px;
}

